// @import url('http://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100i,300,300i,400,400i,500,500i,700,700i&display=swap');

// color
$primary-color: #F5F2EF;
$secondary-pink-color: #F1E9E0;
$secondary-dark-gray-color: #817977;
$secondary-beige-color: #F1E9E0;
$secondary-light-gray-color: #DEDDD8;

// font
$fontFamily: 'Roboto', sans-serif;
$web-bold-weight: 700;

// web
$web-header-size: 20px;
$web-primay-size: 20px;

$web-title-size: 28px;
$web-introduction-large-size: 56px;
$web-introduction-medium-size: 28px;
$web-introduction-small-size: 24px;

$web-section-size: 24px;

$web-footer-title: 20px;
$web-footer-font-size: 16px;
$web-copyright-size: 12px;

// mobile
$mobile-header-size: 18px;
$mobile-primay-size: 16px;

$mobile-title-size: 24px;
$mobile-introduction-large-size: 40px;
$mobile-introduction-medium-size: 22px;
$mobile-introduction-small-size: 18px;

$mobile-section-size: 20px;

$mobile-footer-title: 18px;
$mobile-footer-font-size: 14px;
$mobile-copyright-size: 12px;


@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 390px) {
    @content;
  }
}

html {
  @include pad {
    min-width: 320px;
  }
}

body {
  padding: 0 16px;
  background-color: $primary-color;
  font-family: $fontFamily;
  
}

// Header 區塊
.header {
  padding: 8px 0;
  
  @include pad {
    position: relative;
    text-align: center;
    margin-bottom: 24px;
  }
}

.header_logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  font-size: 0px;
}

.header_title {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  color: $secondary-dark-gray-color;

  @include pad {
    font-size: $mobile-header-size;
  }
}

.header_menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  font-size: 0px;
  cursor: pointer;
}

// Brief 區塊
.container {
  color: $secondary-dark-gray-color;
}

.brief_portrait {
  margin: 0 0 16px 0;
}

.img_portrait {
  width: 100%;
}

.brief_content {
  @include pad {
    text-align: center;
  }
}

.brief_welcome {
  margin-bottom: 16px;
  @include pad {
    font-size: $mobile-introduction-medium-size;
  }
}

.brief_name {
  margin-bottom: 16px;
  font-weight: $web-bold-weight;
  @include pad {
    font-size: $mobile-introduction-large-size;
    text-align: left;
  }
}

.brief_description {
  line-height: 150%;
  margin-bottom: 16px;
  @include pad {
    font-size: $mobile-introduction-small-size;
    text-align: left;
  }
}

// Content 區塊
.content_title {
  text-align: center;
  font-weight: $web-bold-weight;

  @include mobile {
    margin: 24px 0;
    font-size: $mobile-section-size;
  }
}

.content_tags {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.tags {
  color: #ffffff;
  // fix
  width: calc((100% - 100px) / 2);
  padding: 12px 20px;
  text-align: center;
  border-radius: 35px;
  background-color: #DBC8C7;
  font-size: $mobile-primay-size;
  font-weight: $web-bold-weight;
  &:hover {
    background-color: #BE9F9D;
    cursor: pointer;
  }
}

.tags.checked {
  background-color: #BE9F9D;
}